<div class="home-box">
  <div class="home-box-title">
    <h1>Analyze your JML file</h1>
    <p>Download the ToDo table from Service Now and upload it.</p>
  </div>
  <div class="home-box-form">
    <form action="/upload" class="home-form" method="POST" enctype="multipart/form-data">
      <div class="home-form-select-box">
        <select name="selectOpco" id="" class="home-form-select">
          {{#each populations}}
          <option value="{{opco}}">{{opco}}</option>
          {{/each}}
        </select>
        <div class="form-select-icon">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="home-form-file">
        <input type="file" name="file" id="file" required/>
        <label for="file">
          <i class="fa-solid fa-folder-open"> </i>
          &nbsp; Choose a File
        </label>
      </div>  
      <div class="home-form-btn">
        <button>Analyze</button>
      </div>
    </form>
  </div>
</div>

{{> population/populationRender}}
