.home-box {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  max-width: 60%;
  border-radius: 1rem;
  background-color: var(--home-form-bg-main);
  background-image: linear-gradient(
    0deg,
    var(--home-form-bg-main) 0%,
    var(--home-form-bg-second) 100%
  );
  color: black;
  font-size: larger;
}

.home-box-title {
  text-align: center;
  padding: 2rem;
}

.home-box-title h1 {
  letter-spacing: 1px;
}

.home-box-title p {
  padding: 1rem;
  font-size: larger;
}

.home-form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.home-box-form {
    padding: 1rem;
}

.home-form-select-box {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 150px;
  height: 30px;
  width: 180px;
}

.home-form-select {
  cursor: pointer;
  border: none;
  appearance: none;
  padding: 0 15px 0 7px;
  width: 100%;
  color: var(--basic-text);
  background-color: rgb(24, 23, 23);
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  font-size: 12px;
  text-transform: capitalize;
}

.home-form-select-box .form-select-icon {
  width: 25px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--home-form-input-icon-bg);
  border-radius: 0 5px 5px 0;
}

.form-select-icon {
  font-size: 10px;
  color: var(--basic-text);
}

input[type="file"] {
  display: none;
}

.home-form-file label {
  cursor: pointer;
  color: white;
  height: 30px;
  width: 180px;
  background-color: var(--home-form-input-bg);
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.home-form-btn button{
  cursor: pointer;
  outline: none;
  border: none;
  width:100px;
  text-align:center;
  border-radius: 5px;
  background:#0033cc;
  line-height: 20px;
  color: var(--basic-text);
  padding: 0.6rem;
}

.home-form-btn:hover {
    filter: brightness(0.7);
}

@media screen and (max-width: 600px) {
    .home-form {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
  .home-box {
      max-width: 100%;
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding: 1rem;
      border-radius: 0;
  }
}
