<nav class="navbar">
  <a href="/"><img
      src="/icons/UnisysLogo.png"
      alt="Unisys Logo"
      class="main-logo"
    /></a>
  <ul class="navlist">
    <li><a href="/populations">New Population</a></li>
    <li><a href="/">Support</a></li>
    <li><a href="/">Docs</a></li>
  </ul>
</nav>