<nav class="navbar">
  <a href="/"><img
      src="icons/UnisysLogo.png"
      alt="Unisys Logo"
      class="main-logo"
    /></a>
  <ul class="navlist">
    <li><a href="/populations">Adding</a></li>
    <li><a href="/">Finding</a></li>
    <li><a href="/">Insert</a></li>
    <li><a href="/">Delete</a></li>
  </ul>
</nav>