<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JML-Analyzer</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/foother.css">
        <link rel="stylesheet" href="/css/home-form.css">
        <link rel="stylesheet" href="/css/popul-form.css">
        <link rel="stylesheet" href="/css/messages.css">
        <link rel="stylesheet" href="/css/popul-render.css">
        <link rel="stylesheet" href="/css/analysis-report.css">               
        <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon">
    </head>
    <body>
        {{> navbar}}
        {{> messages}}
        {{{body}}}

        {{> footer}}

        <script src="https://kit.fontawesome.com/5b3e85825e.js"
            crossorigin="anonymous"></script>
    </body>
</html>